<section class="passenger-form">
  <%= form_for @passenger do |f| %>
      <div class="passenger-name">
        <%= f.label :name, "Passenger Name:  " %>
        <%= f.text_field :name %>
      </div>
      <div class="passenger-phone">
        <%= f.label :phone_number, "Phone Number" %>
        <%= f.text_field :phone_number %>
      </div>
    <div class="submit-btn">
      <%= f.submit action_name %>
    </div>
<% end %>
</section>
