<section class=" passenger-header">
  <section class="passenger-img">
    <%= image_tag "https://placeimg.com/50/50/people?image=#{rand(0..100)}", alt: @passenger.name, class: "passenger" %>
  </section>
  <section class="passenger-name">
    <h2><%= @passenger.name %></h1>
  </section>
  <section class="passenger-phone">
    <h2> Phone #: <%= @passenger.phone_number %></h2>
  </section>
  <section class="passenger-paid">
    <h2>Total Paid:  <%= number_to_currency @passenger.total_charged %></h2>
  </section>
</section>
<% if @passenger.can_request? %>
  <%= button_to "Request ride", passenger_trips_path(@passenger), method: :post, class: "button success" %>
<% end %>
<section class="trip-details">
  <h2>Trips</h2>
  <%= render partial: "shared/trip_list", locals: {trips: @passenger.trips.order(:date)} %>
</section>
<p>
  <%= link_to "Edit", edit_passenger_path(@passenger.id) %>
  <%= link_to "Delete", passenger_path(@passenger.id), method: :delete %>
</p>
