<h1>Rideshare Drivers</h1>
<article class="driver-list">
    <div class="pagination">
      <%= paginate @drivers %>
    </div>
    <% image = 1 %>
    <% @drivers.each do |driver| %>

        <aside  class="avatar">
          <%= image_tag "https://placebeyonce.com/50-50?image=#{image}", alt: driver.name, class: "driver"%>
        </aside>
        <section class="driver-name">
          <h2>
            <%= link_to driver.name, driver_path(driver.id) %>
          </h2>
        </section>
        <section class="driver-rating">
          <h3>
            Average Rating: <%= driver.average_rating %>
          </h3>
        </section>
        <section class="driver-edit-delete">
          <h3>
            <%= link_to "Edit", edit_driver_path(driver.id) %>
            <%= link_to "Delete", driver_path(driver.id), method: :delete %>
          </h3>
        </section>
      <% image += 1 %>
    <% end %>
</article>
