<section class="driver-header">
  <%= image_tag "https://placeimg.com/50/50/people?image=#{rand(0..100)}", alt: @driver.name, class: "driver" %>
  <h2><%= @driver.name %></h2>
  <h2 class="driver-make"> Car: <%= @driver.make_and_model %></h2>
  <h2 class="driver-rating">Average Rating: <%= @driver.average_rating %></h2>
  <h2 class="driver-earnings">Total Earnings: <%= number_to_currency @driver.total_earnings %></h2>
  <%= driver_activate_button(@driver) %>
</section>
<section class="trip-details">
  <h2>Driver Trips</h2>
  <%= render partial: "shared/trip_list", locals: {trips: @driver.trips.order(:date)} %>
</section>
<p>
  <%= link_to "Edit", edit_driver_path(@driver.id) %>
  <%= link_to "Delete", driver_path(@driver.id), method: :delete %>
</p>
