<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>

    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    		<button class="menu-icon" type="button" data-toggle></button>
    		<div class="title-bar-title">Menu</div>
    </div>

    <nav class="top-bar" id="example-menu">
    		<section class="top-bar-right">
    				<ul class="menu">
    						<li class="menu-text">Menu</li>
    				</ul>
    		</section>
    		<section class="top-bar-left">
    				<ul class=" medium-horizontal vertical dropdown menu" data-responsive-menu="accordion medium-dropdown">
                <li>
  							  <%= link_to "Rideshare on Rails!", root_path %>
                </li>
                <li class="has-submenu ">
                    <a href="/drivers">Drivers</a>
    								<ul class="submenu menu vertical nested " data-submenu>
                        <li>
                          <%= link_to "Driver List", drivers_path %>
                        </li>
    										<li><a href="/drivers/new">Add a Driver</a></li>
    								</ul>
    						</li>
                <li class="has-submenu ">
                    <a href="/passengers">Passengers</a>
    								<ul class="submenu menu vertical nested " data-submenu>
                        <li>
                          <%= link_to "Passenger List", passengers_path %>
                        </li>
    										<li><a href="/passengers/new">Add a Passenger</a></li>
    								</ul>
    						</li>
    				</ul>
    		</section>
    </nav>

  </header>
  <main>
    <div id="flash-messages">
      <% if flash[:alert].present? %>
        <div class="alert callout" data-closable>
          <%= flash[:alert].html_safe %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
      <% end %>
    </div>

    <%= yield %>
  </main>
  <footer>

  </footer>
</body>
</html>
